main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: white;
}

.main-title {
    font-size: 50px;
    font-weight: bold;
    font-family: Arial;
}
.main-subtitle {
    font-size: 20px;
    font-family:Arial;
}